<h1>Random recipies</h1>
<p>{{recipe.title}}</p>
<img class="backgound-login" src="/images/4.jpg">

{{#each recipes}}

<div class="flex-container">
  <div class='col-md-6'>
    {{!-- Info para mostrar --}}

  <div class="card">
    <img class="genarator-img" src="{{image}}" alt="{{title}}"> 

    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="summary">{{summary}}</p> 

      <form action='/add/{{id}}' method='post'>
      <button type='submit' class='btn btn-primary'>Save Recipe</button>
      </form>

    </div>
  </div>

</div>
{{/each}}





<script>
  //Ir buscar os summaries que existem
  //Transforma-los num array (porque usar dom Manipulation retorna array-like objects)
let summaries = Array.prototype.slice.call(document.getElementsByClassName('summary'))

//ir buscar o texto 
let summariesContent = summaries.map(summary => summary.innerText)

//"substituir" o innerText por innerHTML
 summaries.forEach((summary, index) => summary.innerHTML = summariesContent[index])

</script>