<img class="long-backgound" src="/images/bread.png" />


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><img class="logoImg" src="/images/logo.png"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/blog">Blog</a> 
        <a class="nav-link" href="/profile">User</a>       
      </div>
    </div>
  </div>
</nav>

<br>
<div class="recipies" id="search">

<h2>Search by Ingredient</h2>
<form action="/ingredient" method="post">
<input type="text" name="userInput">
<button type="submit">search</button>
</form>
</div>
<br>
<br>
<br>
<br>
<br>


{{#if recipes}}
<div class="container">

{{#each recipes}}

 <div class="card genCard">
    <img class="genarator-img" src="{{image}}" alt="{{title}}"> 

    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="ingredients">{{ingredients}}</p>
        <p class="instructions">{{instructions}}</p>

      <form action='/add/{{id}}' method='post'>
      <button type='submit' class='btn btn-primary'>Save Recipe</button>
      </form>

    </div>
  </div>

{{/each}}
</div>
{{/if}}


